.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  overflow: hidden;
}

.modal {
  background: white;
  max-width: 500px;
  width: 90%;
  max-height: 90vh;
  padding: 2rem;
  border-radius: 16px;
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.modal img {
  width: 100%;
  border-radius: 12px;
  aspect-ratio: 1 / 1;
  margin-bottom: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.modal .close {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 1.5rem;
  border: none;
  background: none;
  cursor: pointer;
}
